.login-header {
    height: 87px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff
}

.login-header .wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #fff
}

.header_left {
    float: left
}

.header_left .header_logo {
    width: 126px;
    height: 47px;
    padding-right: 20px;
    overflow: hidden;
    float: left;
    display: inline-block;
    background-image: url(//dui.dmcdn.cn/dm_2015/index/img/logo-334-120.png);
    background-repeat: no-repeat;
    background-size: 126px 47px;
}

.header_left .header_logo img{
    display: none;
}

.header_left .header_title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 47px;
    font-size: 28px;
    color: #333;
    font-family: Microsoft YaHei;
    border-left: 1px solid #e5e5e5;
    padding-left: 20px;
    float: left
}